.home{
    .bannerSlider{
        .bannerSliderImg {
        max-height: calc(100vh - 80px);
        overflow: hidden;
    }
        .sliderContSection{
            bottom: 0px;
            width: 430px;
            @media (max-width:767px) {
                width: 100%;
            }
            &:after{
                content: '';
                position: absolute;
                bottom: 0px;
                z-index: -1;
                right: -10px;
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 20px 38px 0 0;
                border-color: #000000 transparent transparent transparent;
                line-height: 0;
                @media (max-width:767px) {
                    display: none;
                }
            }
        }        
    }
    .sec-2{
        background-image: url(../images/sec2-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}