.tab_cont_li {
    display: none;
}

.tab_cont_li.active {
    display: block;
}

.tab_title_inner_blk li.active {
    // background: #bdbaba;
}

.tab_cont_blk {
    margin-top: 10px;
}


.tab_blk {
    .tab_title_blk{
        .tab_title_inner_blk{
            display: flex;
            li{
                display: flex;
                flex-direction: column;
                width: 33.33%;
                padding-left: 15px;
                padding-right: 15px;
                .imgBlk{

                }
                .more{
                    span{
                        cursor: pointer;
                    }
                }

                a{}
            }
        }
    }
    .tab_cont_blk{
        .tab_cont_inner_blk{
            .tab_cont_li{

            }
        }
    }
}
.lightBoxGrid{
    display: flex;
    flex-wrap: wrap;
    li{
        width: 25%;
        padding: 15px;
        flex-direction: column;
        display: flex;
        .gallary{
            width: 100%;
        }
        .gCont{
            color: #000;
        }
    }
}