@media (min-width: 1023px) {
  .aboutUs .sec-3 {
    margin-top: -3rem;
  }
}
@media (max-width: 1023px) {
  .aboutUs .sec-3 {
    padding: 0;
  }
}
.aboutUs .sec-3 .sec-3-Img_blk {
  overflow: hidden;
}
@media (min-width: 1023px) {
  .aboutUs .sec-3 .sec-3-Img_blk {
    position: absolute;
    display: block;
    height: 100%;
    width: 60%;
    left: -10%;
    top: 0;
    --transform-skew-x: -12deg;
    transform: skewX(var(--transform-skew-x));
  }
}
.aboutUs .sec-3 .sec-3-Img_blk .sec-3-Img {
  padding: 8rem 0;
  background-image: url(../images/bg2.jpg);
  background-position: center;
  background-size: cover;
}
@media (min-width: 1023px) {
  .aboutUs .sec-3 .sec-3-Img_blk .sec-3-Img {
    top: 0;
    right: -16%;
    --transform-skew-x: 12deg;
    transform: skewX(var(--transform-skew-x));
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
